<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>

  <body>
    {{> header}}
    <h1> We will be right back </h1>
    <p> The sight is currently on update, we will be back soon </p>
    {{> footer}}
  </body>
</html>
